.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}

.nav-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}

.carousel-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}

.card-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size: large;
    color: black;
}

